.elem{
    display:flex;
    width:300px;
}

.elem img{
    width:233px;
    height:160px;
    object-fit:cover;
}

.buttonCard{
    text-align:center;
    border-radius: 50%;
    width:50%;
    margin:5px;
}

.boton{
    text-align: center;
}

.etiquet{
    display: flex;
    justify-content: center;
}

