.itemcart{
    display: flex;
    border-bottom: 1px solid gray;
    max-width:500px;
    margin:1rem auto;
}

.btnss{
    background:rgb(82, 0, 16);
    color:black;
    border:1px solid rgb(255,255,255);
    color:rgb(255,255,255);
    padding:0.50em;
    border-radius: 5%;
    width:100%;
}

.c-p{
    color:rgb(255,255,255);
}

.itemcart img {
    width: 200px;
    margin-right: 1rem;
}