*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    border-bottom:1px solid rgb(255,255,255);
}

.footer-letters{
    margin: 0;
    width:Auto;
    height: auto;
    color:rgb(225,225,225);
    background: rgb(0,0,0);
}

.footer-letters h4{
    display:flex;
    margin:0;
    padding-top:2em;
    margin-top:3rem;
    margin-bottom:3rem;
    justify-content: center;
}

.footer-letters p{
    display:flex;
    justify-content: center;
    width:auto;
    margin:0;
    padding:1em;
}

.Iconss{
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin:0;
    height: auto;
}

.Iconss li{
    margin:2%;
}